<div id="popup" class="ol-popup">
	<a href="#" id="popup-closer" class="ol-popup-closer" data-bind="click: clearSelectedTweet"></a>
	<div data-bind="if: selectedTweet">
            <p>
                <b>Tweet:</b>
                <span data-bind="html: computedText "></span>
            </p>
            <p>
                <b>Classification:</b>
                <span data-bind="text: selectedTweet().classification"></span>
            </p>
            <p>
                <b>Confidence Rating</b>
                <span data-bind="text: selectedTweet().rating"></span>
            </p>
            <p>
                <b>Tags</b>
                <span data-bind="text: selectedTweetTags"></span>
            </p>
	</div>
</div>
