<div class="center">
    <div>
        <h1>Mad Map</h1> 
    </div>
    <hr>
    <div>
        <!-- ko if: selectedTweet -->
            <div>
                <b>Tweet:</b>
                <div data-bind="text: selectedTweet().text"></div>
            </div>
            <br>
            <div>
                <b>Classification:</b>
                <div data-bind="text: selectedTweet().classification"></div>
            </div>
            <br>
            <div>
                <b>Confidence Rating</b>
                <div data-bind="text: selectedTweet().rating"></div>
            </div>
            <br>
            <div>
                <b>Tags</b>
                <div data-bind="text: selectedTweetTags"></div>
            </div>
            <br>
            <div>
                <button data-bind="click: clearSelectedTweet">Clear</button>
            </div>
        <!-- /ko -->
        <!-- ko ifnot: selectedTweet -->
            <div>
                <em>Click on a marker to view tweet data.</em>
            </div>
        <!-- /ko -->
            
        <br>
        <hr>
        <br>

        <div>
            <h3>Filters:</h3>
            <div>
                <b>Polarity:</b>
                <select data-bind="value: polarityFilter" name="polarity">
                    <option value="both">Both</option>
                    <option value="pos">Positive Only</option>
                    <option value="neg">Negative Only</option>
                </select>
            </div>
            <!--
            <br>
            <div>
                <b>Tags:</b>
                <input data-bind="value: tagFilterRaw" type="text" placeholder="#<tag name>">
                <br>
                <em>Separate multiple tags with a comma</em>
            </div>
            -->
            <br>
            <div>
                <b>Minimum Confidence Rating:</b>
                <br>
                <input data-bind="value: confidenceRatingFilter" type ="range" min ="0" max="1" step =".05" value ="100" />
                <span data-bind="text: confidenceRatingFilter"></span>
            </div>
        </div>
    </div>
</div>
