<div class="center">
    <div>
        <h1>Tweet Is Leet</h1> 
    </div>
    <hr>
    <div>
        <!-- ko if: selectedTweet -->
            <div>
                <b>Tweet:</b>
                <div data-bind="text: selectedTweet().text"></div>
            </div>
            <br>
            <div>
                <b>Classification:</b>
                <div data-bind="text: selectedTweet().classification"></div>
            </div>
            <br>
            <div>
                <b>Confidence Rating</b>
                <div data-bind="text: selectedTweet().rating"></div>
            </div>
            <br>
            <div>
                <button data-bind="click: clearSelectedTweet">Clear</button>
            </div>
        <!-- /ko -->
        <!-- ko ifnot: selectedTweet -->
            <div>
                <em>Click on a marker to view tweet data.</em>
            </div>
        <!-- /ko -->
    </div>
</div>
