<!DOCTYPE HTML>
{% load staticfiles %}
<html>
    <head>
        <title>
            IdeaMap
        </title>

        <meta http-equiv="PRAGMA" content="NO-CACHE">
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">

        <!-- require.js entrypoint -->
        <script type="text/javascript" data-main="{% static 'DataViewer/js/main.js' %}" src="{% static 'DataViewer/js/third-party/require.js' %}"></script>

        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="{% static 'DataViewer/css/screen.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'DataViewer/css/pure-min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'DataViewer/css/ol.css' %}">
    
    </head>
    <body>
        <div class="pure-g fullSize">
            <div class="pure-u-3-4 fullSize">
                <!-- ko content: contentViewModel -->
                <!-- /ko -->
            </div>
            <div class="pure-u-1-4 fullSize sidePane">
                <!-- ko content: sidePaneViewModel -->
                <!-- /ko -->
            </div>
        </div>
    </bodyg
</html>
