[Unit]
Description=IdeaMap Gunicorn Daemon
After=network.target

[Service]
PIDFile=/tmp/Ideamap/ideamap.pid
User=gunicorn
Group=nginx
WorkingDirectory=/IdeaMap/source/IdeaMap
ExecStart=/usr/local/bin/gunicorn --workers 8 --bind unix:/tmp/ideamap.sock --pid=/tmp/IdeaMap/ideamap.pid IdeaMap.wsgi:application 
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
